if Object.keys(errors).length > 0
  .alert.alert-default
    for key in Object.keys(errors)
      div= errors[key]
.row.form-group
  .col-sm
    label.col-form-label
      | Title
      sup *
    input.form-control(name='title' value=form.title)
.row.form-group
  .col-sm
    label.col-form-label
      | Body
      sup *
    textarea.form-control(rows=10 name='body')= form.body
.form-group
  button.btn.btn-primary.btn-block(type='submit') Save
