extends ../layouts/app.pug

block content
  // BEGIN (write your solution here)
  if posts.length > 0
    table.table
      tr
        th Title
        th Actions
      for post in posts
        tr
          td
            a(href=`/posts/${post.id}`)= post.title
          td
            form.form-inline.d-inline-block(action=`/posts/${post.id}/edit`)
              button.btn.btn-link Edit
              button.btn.btn-link(formaction=`/posts/${post.id}?_method=DELETE` formmethod=`post`) Delete
  else
    p There is no posts
  // END
