doctype html
html
  head
    title= title
    //- link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  body
    nav.navbar.navbar-expand.navbar-light.bg-faded
      a.navbar-brand(href="/") HexletBlogs
      if currentUser.isGuest()
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/session/new") Sign in
          li.nav-item
            a.nav-link(href="/users/new") Sign up
      else
        form.form-inline.float-xs-right(action='/session?_method=DELETE' method='post')
          button.btn.btn-link(type='submit') Sign out
    .container
      .mt-1
        for message in flash
          .alert(class=`alert-${message.type}`)
            = message.message
      block content
