// HelveticaNeueCyr - BLACK
@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url('../fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url('../fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
