extends ../layouts/app.pug

block content
  div
    a(href='/') Main page
  // <table class="table">
  //   <tbody>
  //     <tr><th>Title</th></tr>
  //     <tr><td><a href="/posts/1">hello</a></td></tr>
  //     <tr><td><a href="/posts/2">nodejs</a></td></tr>
  //     <tr><td><a href="/posts/3">asdfa</a></td></tr>
  //     <tr><td><a href="/posts/4">111</a></td></tr>
  //   </tbody>
  // </table>

  // BEGIN (write your solution here)
  //- Вывод списка постов в табличной форме
  table.table
    tbody
      tr
        th Title
      each post in posts
        tr
          td
            a(href= `/posts/${post.id}`)= post.title
  // END
