extends ../layouts/app.pug

block content
  // <form action="/posts" method="post">
  //   <div><label>Title<sup>*</sup></label><input name="title"></div>
  //   <div><label>Body<sup>*</sup></label><textarea rows="10" name="body"></textarea></div>
  //   <input type="submit" value="Save">
  //  </form>

  // BEGIN (write your solution here)
  
  // END
