extends ../layouts/app.pug

block content
  // <form action="/posts" method="post">
  //   <div><label>Title<sup>*</sup></label><input name="title"></div>
  //   <div><label>Body<sup>*</sup></label><textarea rows="10" name="body"></textarea></div>
  //   <input type="submit" value="Save">
  //  </form>

  // BEGIN (write your solution here)
  form(action="/posts" method="post")
    div
      label 
        | Title
        sup *
      input(name="title" value=form.title)
      if errors.title
        p= errors.title
    div
      label
        | Body
        sup *
      textarea(rows="10" name="body")= form.body
      if errors.body
        p= errors.body
    input(type="submit" value="Save")
  // END
