extends ../layouts/app.pug

block content
  // <form action="/posts" method="post">
  //   <div><label>Title<sup>*</sup></label><input name="title"></div>
  //   <div><label>Body<sup>*</sup></label><textarea rows="10" name="body"></textarea></div>
  //   <input type="submit" value="Save">
  //  </form>

  // BEGIN (write your solution here)
  form(action="/posts" method="post")
    div
      label Title
        sup *
      input(rows="10" name="title")
    div
      label Body
        sup *
      textarea(name="body", cols="30", rows="10")
    input(type="submit" value="Save")
  // END
