doctype html
html
  head
    title Blog
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand(href="/") HexletBlogs
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/posts/new") Write Post
        li.nav-item
          a.nav-link(href="/posts") My Posts
    .container
      .mt-1
        block content
